{
    "plugins": ["prettier-plugin-tailwindcss"],
    "semi": true,
    "trailingComma": "es5",
    "singleQuote": true,
    "printWidth": 180,
    "tabWidth": 2,
    "useTabs": false,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "jsxSingleQuote": true,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "embeddedLanguageFormatting": "auto",
    "overrides": [
      {
        "files": "*.md",
        "options": {
          "printWidth": 80,
          "proseWrap": "always"
        }
      },
      {
        "files": "*.json",
        "options": {
          "printWidth": 80
        }
      }
    ]
  }
  