.login-header{
    grid-area: header;
}
.login-main{
    grid-area: main;
}
.login-footer{
    grid-area: footer;
}
.grid-container-login{
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer' ;
    justify-content: center;
    align-content: center;
    grid-gap: 2%;
    background-color:rgb(174, 226, 226);
    padding: 2%;
}